.c-creation {
    display:flex;
}
.c-hamburger {
    position:absolute;
    top:-23px;
    right:1.9rem;
	padding:15px 35px;
	border:solid 1px #fff;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, -webkit-filter;
	transition-property: opacity, filter;
	transition-property: opacity, filter, -webkit-filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	margin: 0;
	overflow: visible;
    outline:none;
}
.c-hamburger:hover {
    opacity: 0.7;
}
.c-hamburger__box {
	width: 24px;
	height: 18px;
	display: inline-block;
	position: relative;
}
.c-hamburger__inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}
.c-hamburger__inner, .c-hamburger__inner::before, .c-hamburger__inner::after {
    width: 24px;
    height:1px;
    background-color:#fff;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.c-hamburger__inner::before, .c-hamburger__inner::after {
    content: "";
	display: block;
}
.c-hamburger__inner::before {
	top: -9px;
}
.c-hamburger__inner::after {
	bottom: -9px;
}

.c-creation__wrapper {
    align-self:center;
    display:flex;
    flex-direction:column;
    align-items:stretch;
    width:100%;
    position:relative;
}

.c-pane__left {
    position:relative;
    z-index:2;
    background:#fff;
    flex-direction:column;
    justify-content:center;
    padding:2em;
}
@media screen and (min-width: 768px) {
    .c-creation__wrapper {
        flex-direction:row;
    }
    .c-creation__wrapper:after {
        content:"";
        position:absolute;
        right:4.7rem;
        top:7%;
        display:block;
        width:1px;
        height:88%;
        background:rgba(0,0,0,.2);
    }
    .c-pane__left {
        padding:5em 8em;
        width:60%;
        max-width:700px;
    }
    .c-pane__right {
        flex-grow:1;
        padding-right:5%;
    }
    .c-pane__right:before,
    .c-pane__right:after {
        content:"";
        display:block;
        height:1px;
        background:rgba(0,0,0,.2);
        width:calc(92% - 8rem);
        position:absolute;
        left:5%;
    }
    .c-pane__right:before {
        top:0;
    }
    .c-pane__right:after {
        bottom:0;
    }
    .c-h2 {
        padding:20% 0;
        font-size:3em;
    }
    .c-content {
        margin-bottom:20%;
    }
}
.c-tags {
    display:flex;
    text-transform:uppercase;
    opacity:.35;
    font:700 .9em/1 Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.c-tags__el {
    padding:0 1em 0 0;
}
.c-h2 {
    font-family:'League Spartan', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding:.7em 0;
    font-size:1.6em;
}
.c-content {
    font-family: 'Source Serif Pro', 'Times New Roman', serif;
    font-weight:600;
    color:#919191;
    font-size:.95em;
    line-height:1.7em;
    margin-bottom:2em;
}
.c-content a {
    color:#919191;
}
.c-pane__right {
    display:flex;
    position:relative;
    align-items:center;
}
.illus-wrapper {
    position:relative;
}
.illus {
    transition:all .8s ease-in-out;
}
.illus--desktop {
    position:relative;
    left:-592px;
}
.illus--mobile {
    position:absolute;
    bottom:-30px;
    left:-318px;
    z-index:1;
}
.c-creation-number {
    display:none;
}
@media screen and (min-width: 768px) {
    .c-creation-number {
        position:absolute;
        right:3.8rem;
        bottom:0;
        font:700 2.5em/0 'League Spartan';
        color:rgba(0,0,0,.5);
    }
    .c-creation.s-is-active .illus--desktop {
        left:-92px;
    }
    .c-creation.s-is-active .illus--mobile {
        left:-18px;
    }
}
