.c-menu {
    position:fixed;
    right:-50%;
    width:50%;
    height:100%;
    background:#fff;
    z-index:2;
    transition:all .5s ease-in-out;
    overflow:hidden;
}
.c-menu.s-is-open {
    right:0;
}
.c-works__link {
    font-size:2em;
    font-family:'League Spartan', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:#979797;
    text-decoration:none;
    transition:color .3s ease-in-out;
}
.c-works__link:hover {
    color:inherit;
}
.c-works__title {
    position:relative;
    z-index:1;
}
.c-works__tags {
    opacity:0;
    color:#e2e2e2;
    position:relative;
    left:-100%;
    font-size:.35em;
    text-transform:uppercase;
    transition:all .4s ease-in-out;
}
.c-works__link:hover .c-works__tags {
    opacity:1;
    left:0;
}
.c-works__tag {
    padding:0 0 0 .8em;
}
